@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container{
  width: 320px;
  height: 270px;
  left: 440px;
  top: 185px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: 40px;
  input{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
  }
  span{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 12px;
  }
  .name{
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  .card-number{
    padding-top: 24px;
  }
  .card-details {
    display: flex;
    flex-direction: column;
    border: 12px;
  }
}
